@model IEnumerable<NorthwindMvc.Models.CategoryModels.CategoryModel>

<html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
      <h2>Search results:</h2>
              <table class="table table-bordered table-striped">
                  <thread>
                      <tr>
                          <th>Category name</th>
                          <th>Description</th>
                          <th>Photo</th>
                          <th>
                              <div class="col text-center">
                                  <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create new Category</a>
                              </div>
                          </th>
                      </tr>
                  </thread>
                  <tbody>
                      @foreach (var c in this.Model)
                      {
                          <tr>
                              <td>@c.CategoryName</td>
                              <td>@c.Description</td>
                              <td>
                                  <img alt="" src="data:image/bmp;base64,@Convert.ToBase64String(c.Picture)" style="height:60px;width:60px;"/>
                              </td>
                              <td>
                                  <div class="w-100 btn-group" role="group">
                                      <a asp-controller="Category" asp-action="Update" asp-route-id="@c.CategoryId" class="btn btn-primary mx-1">Update</a>
                                      <a asp-controller="Category" asp-action="Delete" asp-route-id="@c.CategoryId" class="btn btn-danger mx-1">Delete</a>
                                  </div>
                              </td>                             
                         </tr>
                      }
                  </tbody>
              </table>
</body>
</html>
