@model NorthwindMvc.Models.CategoryModels.CategoryModel

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input asp-for="CategoryId" hidden/>
    <input asp-for="PictureHexString" hidden/>
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="from-group row">
            <h2 class="text-black-50 pl-3">Update Category</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div>
                    <img alt="" src="data:image/bmp;base64,@Convert.ToBase64String(Model.Picture)" style="height:100px;width:100px;"/>
                </div>
                <div class="form-group row">
                    <div class="col-6 text-right">
                        <label asp-for="CategoryName"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="CategoryName" class="form-control"/>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="col-6 text-right">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-6 text-right">
                        <label asp-for="PictureForm">Choose Photo:</label>
                    </div>
                    <div class="col-6 form-group" enctype="multipart/form-data">
                        <input asp-for="PictureForm" class="form-control">
                        <span asp-validation-for="PictureForm"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Update"/>
                         </div>
                         <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}