<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NorthwindMvc</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="bg-dark p-2">
            <div class="p-2" >
                <a class="navbar-brand text-white fw-bold" style="padding-left:15px;" asp-controller="Home" asp-action="Index">Vadim Rumyancev WebApp</a>
            </div>
            <div class="link row text-center p-2" style="width:500px;">
                <div class="col">
                    <a asp-controller="Employee" asp-action="Index">Employees</a>
                </div>
                <div class="col">
                    <a asp-controller="Product" asp-action="Index">Products</a>
                </div>
                <div class="col">
                    <a asp-controller="Category" asp-action="Index">Categories</a>
                </div>
                <div class="col">
                    <a asp-controller="BlogArticle" asp-action="Index">Articles</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="height:30px;">
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NorthwindMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
    
<style>
    .link a{
        margin-left:6px;
        color:white;
        padding:4px;
        text-decoration-line:none;
    }

    .link a:hover {
        font-weight:bold;
    }
</style>
